
body{

    background-image: url(kepek/ChatGPT\ Image\ 2026.\ jan.\ 3.\ 20_17_20.png);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}