
body{

    background-color: cornflowerblue;

}

.pagination{
    
    border: 2px;
    background-color: rgb(94, 94, 130);
    
    padding: 10px;
    text-align: center;

}
.pagination a{

    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;

}

.pagination a.active{

    background-color: rgb(194, 194, 194);
    border-radius: 10px;

}
.pagination a:hover:not(.active){

    background-color: aqua;
    border-radius: 10px;

}


#countLabel{

    display: block;
    text-align: center;
    font-size: 10em;
    font-family:  Helvetica;

}
#buttonContainer{

    text-align: center;

}
.buttons{

    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(111, 111, 211);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}
.buttons:hover{

    background-color: rgb(87, 87, 163);

}