
body{

    background-color: cornflowerblue;
    font-family: verdana;
    text-align: center;
}

.pagination{
    
    border: 2px;
    background-color: rgb(94, 94, 130);
    
    padding: 10px;
    text-align: center;

}
.pagination a{

    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;

}

.pagination a.active{

    background-color: rgb(194, 194, 194);
    border-radius: 10px;

}
.pagination a:hover:not(.active){

    background-color: aqua;
    border-radius: 10px;

}


#countLabel{

    display: block;
    text-align: center;
    font-size: 10em;
    font-family:  Helvetica;

}
#buttonContainer{

    text-align: center;

}
.buttons{

    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(111, 111, 211);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}
.buttons:hover{

    background-color: rgb(87, 87, 163);

}
#myButtonn{
    
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;

}
.myLabels{
    background-color: rgb(177, 56, 56);
    font-size: 3em;
    border: 3px solid;
   
}

#dice li::marker{



    content:"✔️";
    color: green;
    font-size: 1.2em;


}
.sampi{
    text-align: center;
}
#mysubmit3{

    font-size: 1em;

}
#gomb {
    width: 150px;
    height: 50px;
    background-color: rgb(139, 100, 92);
    border-radius: 60px;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    right: 20px;


}

#csuszka {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
}

/* Amikor aktív */
#gomb.active #csuszka {
    left: 105px;  /* 300 - 100 - 10 */
}

#gomb.active {
    background-color: rgb(118, 118, 118);
    
}
#mozdithatlan{
    width: fit-content;
    height: fit-content;
    background-color: rgb(90, 90, 203);
    
    
    
    
}

    
    